/* navbar */
.nav-item {
    margin-left: 10%;
}

/* sidebar*/
.thumbnail {
    width:50%;
  }

/* paragraph */
p{
    color: black;
    font-family: calibri, Helvetica, sans-serif;
    font-size: 18px;
    }
    
    /* Box Class */
    
    .box {
        margin-top: 60px;
        margin-bottom: 60px;
        margin-left: 10px;
        padding: 10px 20px 15px;
        color:black;
        background-color: white;
    }
      .box1 {
        margin-top: 60px;
        margin-bottom: 60px;
        margin-left: 50px;
        margin-right: 70px;
        padding: 10px 10px 0px;
        color: black;
        background-color: white;
        
      }

      /* header for comparison page */
.imageNav-header {
    color: #0c0e0d;
    font-weight: bold;
    font-size: 8;
    text-align: center;
    
}

/* Table */

.table{
    font-size: 15px;
    margin-left: 50px;
    margin-right: 0px;
  
}

footer{

background-color: #0a0909;

border-top-style: solid;

border-top-width: 5px;

border-top-color: rgb(13, 14, 13);

color: white;

min-height: 55px;

font-family: Arial, Tahoma, sans-serif;

font-size: 15px;

text-align: left;

position: fixed;

left: 0;

bottom: 0;

width: 100%;

padding-top: 15px;

}